/* Basic Reset */
body, h1, p, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--off-white);
    color: var(--black);
    padding: 20px;
}

header {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers the items in the header */
    justify-content: space-between; /* Positions items on opposite ends */
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
}

header .logo {
    width: 150px; /* Control the width of your logo */
    height: auto; /* Maintains aspect ratio of the logo */
}

header .login a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center; /* Ensures the icon aligns nicely with the text */
}

header .login i {
    margin-right: 5px; /* Adds spacing between the icon and text */
}


main {
    text-align: center;
}
.hero {
    background: url('img/HeroImage.png') no-repeat center center/cover; /* Adjust path as necessary */
    position: relative;
    height: 912px; /* Adjust based on your actual image's display needs */
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Assuming you want white text over a darker image */
    width: 100%; /* Ensures the text is centered in the .hero container */
}

button {
    background-color: #96c44e; /* Green button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.feature {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white);
}

.feature img {
    /* Ensure icons are responsive */
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.feature i {
    color: var(--blue); /* Use your color variable */
    font-size: 24px; /* Larger icon size */
    margin-bottom: 10px; /* Spacing between icon and text */
}


button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: var(--footer-color);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header, footer {
        padding: 10px;
    }

    .feature img {
        width: 80px; /* Smaller icon size for mobile devices */
    }
}
